body{
    margin: 0;
    font-family:sans-serif ;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url("https://images.unsplash.com/photo-1499002238440-d264edd596ec?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    overflow: hidden;
    
}
h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 16px;
    text-align: center;
    color: white;
    font-weight: bold;
}
.reloj{
    display: flex;
}
.reloj div{
    margin: 5px;
    position: relative;
}
.reloj span{
    width: 100px;
    height: 80px;
    background-color: slateblue;
    opacity: .8;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 50px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
.reloj .text{
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: darkblue;
    opacity: 0.8;
}
.reloj #ampm{
    bottom: 0;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background-color: green;

}