body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: cursive;
    background-color: rgb(106, 108, 224);

}
.contenedor-calendario{
    background-color: white;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,.3); 
    overflow: hidden;
}
.mes-nombre{
    margin: 0;
    background-color: orangered;
    color: white;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
}
.dia-nombre{
    font-size: 20px;
    color: #8d8b8b;
}
.dia-numero{
    font-size: 80px;
    margin: 0;
    font-weight: bold;
}
.año{
    margin: 20px 0;
    font-size: 20px;
    color: #8d8b8b;
    font-weight: 500; 
}