body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: salmon;
    font-family: cursive;
}
.contenedor{
    background-color: pink;
    width: 400px;
    padding: 20px ;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0, .5);
}
.textarea{
    border: none;
    resize: none;
    width: 100%;
    height: 100px;
    font-size: 18px;
    font-family: sans-serif;
    padding: 10px;
    box-sizing: border-box;
    border: solid 2px darkgray
}
.container-contador{
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}
.container-contador p{
    font-size: 18px;
    color: gray;
}
.total-contador{
    color: rgb(95, 77, 211);
}
.restante-contador{
    color: orangered;
}